<div class="cards">
  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= image_path('rooms/color-xl.jpg') %>)">
    Etalonnage
  </div>

  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= image_path('rooms/blackmagicraw-xl.jpg') %>)">
    Montage
  </div>

  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= image_path('rooms/fairlight-audio-xl.jpg') %>)">
    Mixage
  </div>
</div>
