<div class="banner" id="home-banner">
  <div class="container">
    <h1>Vite une salle !</h1>
    <p>Entrez votre adresse pour voir les salles de post-prod disponibles autour de vous</p>
    <%= render 'search_form' %>
    <!-- <a class="btn btn-flat" href="#">Go !</a> -->
  </div>
</div>
